{% extends "base.html" %}

{% block title %}Opening{% endblock %}

{% block content %}
<!-- Header -->
<input type="hidden" name="paso" id="paso" value="{{ paso }}" />
<div class="container mt-5" id="features">
  <div class="d-flex justify-content-between align-items-center w-100">

    <!-- Logo izquierda -->
    <div>
      <img src="{{ ruta_image }}" width="50" height="50" alt="Imagen empresa" class="img-fluid"
        style="background-color: #f8f9fa;">
    </div>

    <!-- Menú usuario (derecha) -->
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
          <i class="fa fa-user"></i> Hola, Usuario Invitado
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
          <li>
            <a class="dropdown-item text-danger" href="/{{ request.state.empresa }}/manager/logout">Cerrar sesión</a>
          </li>
        </ul>
      </li>
    </ul>

  </div>
  <br>
  <div class="row mb-4">
    <div class="col-md-9">
      <h4>Bienvenido(a) a la familia <strong>{{ info_index["company"] }}</strong></h4>
      <h4>Programa <strong>{{ info_index["programa"] }}</strong></h4>
      <h4>Colegio - Curso <strong>{{ info_index['curso'] }}</strong></h4>
    </div>
    <div class="col-md-3">
      <h4>Fecha Último Abono <strong>{{ info_index['fechaultimo'] }}</strong></h4>
      <h4>Fecha Salida <strong>{{ info_index["fechasalida"] }}</strong></h4>
    </div>
  </div>
  <hr style="height: 2px;background-color: black;">
  <!-- Aquí se carga el contenido dinámico -->
  {% block opening_content %}
  {% endblock %}

</div>
{% endblock %}