{% extends "opening/base_index.html" %}

{% block opening_content %}
<div class="row">
  <div class="col-12">
    <div class="main_heading text-center">
      <h1>Tus Opciones</h1>
      <div class="text-center"><span class="underline"></span></div>
    </div>
  </div>
</div>

<div class="row g-4">
  <div class="col-md-4 col-sm-6">
    <div class="features-div card h-100 shadow-sm p-3">
      <!--     <i class="fa fa-user mb-3"></i>. -->
      <img src="/static/images/alumno.png" class="d-block mx-auto mb-1" width="60px" height="60px" alt="">
      <h3><strong>Pasajero</strong></h3>
      <p>Paso 1 Ingresar Pasajero</p>
      {% if not session["user_ruta"] %}
      <a class="btn btn-primary mt-3" href="/{{empresa}}/manager/opening/student">Ir</a>
      {% else %}
      <button class="btn btn-secondary mt-3" disabled>Ir</button>
      {% endif %}
    </div>
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="features-div card h-100 shadow-sm p-3">
      <!--    <i class="fa fa-file-text mb-3"></i> -->
      <img src="/static/images/contrato.png" class="d-block mx-auto mb-1" width="60px" height="60px" alt="">
      <h3><strong>Contrato</strong></h3>
      <p>Paso 2 Aceptar Contrato</p>
      {% if session['user_curso_id'] != "" %}
      <a class="btn btn-primary mt-3" href="/{{empresa}}/manager/opening/contrattravel">Ir</a>
      {% else %}
      <button class="btn btn-secondary mt-3" disabled>Ir</button>
      {% endif %}
    </div>
  </div>

  <div class="col-md-4 col-sm-6">
    <div class="features-div card h-100 shadow-sm p-3">
      <!--     <i class="fa fa-credit-card mb-3"></i> -->
      <img src="/static/images/creditcard.png" class="d-block mx-auto mb-1" width="60px" height="60px" alt="">
      <h3><strong>Pagos</strong></h3>
      <p>Paso 3 Pagar Reserva</p>
      {% if session['user_contrato'] != "" %}
      <a class="btn btn-primary mt-3" href="/{{empresa}}/manager/pay/formpayment_rsv">Ir</a>
      {% else %}
      <button class="btn btn-secondary mt-3" disabled>Ir</button>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/opening/index.js"></script>
{% endblock %}