{% extends "opening/base_index.html" %}

{% block opening_content %}
<div class="container mt-5"  style="float:center">
<form role="form" id="form" method="post" action="/{{ empresa }}/manager/opening/create">

    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">
                <i class="fa fa-info"></i> Alumnos
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">
                <i class="fa fa-info"></i> Dirección
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">
                <i class="fa fa-info"></i> Valores
                </button>
            </li>
            </ul>

            <div class="tab-content tab-validate">

                <div class="tab-pane active" id="tab1">
                    <div class="panel panel-primary">
                        <div class="panel-body color-gris-fondo form-groups-bordered">
                             <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label class="control-label">Ventas</label>
                                            <select class="form-control box_select" name="venta_id" id="venta_id">
                                                <option value="{{ sale.id }}" >{{colegio }} / {{sale.curso}}-{{sale.idcurso}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>    
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Rut Pasajero</label>
                                        <input type="text" class="form-control required rut" name="rutalumno" id="rutalumno" maxlength="20" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Pasaprte Pasajero</label>
                                        <input type="text" class="form-control" name="pasaporte" id="pasaporte" maxlength="20" />
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-2">
                                    <div class="form-group">
                                        <label class="control-label">Nombre Pasajero</label>
                                        <input type="text" class="form-control required" name="nombrealumno" id="nombrealumno" maxlength="100" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="control-label">Fecha Nacimiento</label><br>
                                    <div class="col-md-7 no-padding">
                                        <div>
                                            <input
                                            type="date"
                                            id="fechanac"
                                            name="fechanac"
                                            value="{{ fecha_hoy }}" 
                                            />
                                        </div>
                                    </div>
                                </div>                                  
                            </div>
                            <br>
                            {% if sale.type_sale == 'GE' %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Rut Apoderado</label>
                                        <input type="text" class="form-control required rut" name="rutapoderado" id="rutapoderado" maxlength="20" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Nombre Apoderado</label>
                                        <input type="text" class="form-control required" name="nombreapoderado" id="nombreapoderado" maxlength="100" />
                                    </div>
                                </div>

                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab2">
                    <div class="panel panel-primary">
                        <div class="panel-body color-gris-fondo form-groups-bordered">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Calle</label>
                                        <input type="text" class="form-control required" name="calle" id="calle" maxlength="100" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Numero</label>
                                        <input type="text" class="form-control required" name="numdir" id="numdir" maxlength="100" />
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Depto</label>
                                        <input type="text" class="form-control" name="numdepto" id="numdepto" maxlength="100" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Region</label>
                                        <select class="form-control required box_select" name="region_id" id="region_id">
                                            <option value="">Seleccionar</option>
                                               {% for region in regions %}
												{% set activo = 'selected="selected"' if region.id|string == '13' else '' %}
                                                    <option value="{{ region.id }}" {{ activo }}>{{ region.description }}</option>
                                                {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Comuna</label>
                                        <select class="form-control required box_select" name="commune_id" id="commune_id">
                                            <option value="">Seleccionar</option>
                                                {% for commune in communes %}
												{% set activo = 'selected="selected"' if commune.id|string == '45' else '' %}
                                                    <option value="{{ commune.id }}" {{ activo }}>{{ commune.description }}</option>
                                                {% endfor %}
                                        </select>                      
                                    </div>
                                </div>	
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Fono</label>
                                        <input type="text" class="form-control required" name="fono" id="fono" maxlength="100" />
                                    </div>
                                </div>
                                <div class="col-md-3 offset-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Celular</label>
                                        <input type="text" class="form-control" name="celular" id="celular" maxlength="100"  />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Correo</label>
                                        <input type="text" class="form-control required email" name="correo" id="correo" maxlength="100" />
                                    </div>
                                </div>
                            </div>                            
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab3">
                    <div class="panel panel-primary">
                        <div class="panel-body color-gris-fondo form-groups-bordered">
                             <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Valor</label>
                                        <input type="text" class="form-control text-right" name="apagar" id="apagar" maxlength="100" value="{{ sale.subtotal }}" readonly/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Descuento</label>
                                        <input type="text" class="form-control text-right" name="descto" id="descto" maxlength="100" value="{{ sale.descm }}" readonly/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">A Pagar</label>
                                        <input type="text" class="form-control text-right" name="a_pagar" id="a_pagar" maxlength="100" value="{{ sale.vprograma }}" readonly/>
                                    </div>
                                </div>
                             </div>
                             <div class="row">
                                 <div class="form-group">
                                        <label class="control-label">¿Liberado?</label>
                                        <div class="col-md-12 no-padding">
                                        <label class="make-switch" data-on-label="SI" data-off-label="NO">
                                            <input type="checkbox" name="liberado" id="liberado" value="1">
                                            <span class="slider"></span>
                                        </label>
                                        </div>
                                        <div class="clearfix"></div>
                                 </div>
                             </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-success me-3"><i class="fa fa-save"></i> Guardar</button>
                <a href="/{{ empresa }}/manager/opening" type="button" class="btn btn-primary me-4"><i class="fa fa-angle-double-left"></i> Cancelar y Volver</a>
                <input type="hidden" name="typesale" id="typesale" value="{{ sale.type_sale }}"/>
            </div>          
        </div>
    </div>            
</form>    
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/opening/student_i.js"></script>
{% endblock %}