{% extends "base.html" %}

{% block title %}Crear Cotizacion{% endblock %}

{% block content %}

<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="/{{ empresa }}/manager/index">
        <i class="bi bi-house-door-fill me-1"></i> Home
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="/{{ empresa }}/manager/quotes">
        <i class="bi bi-grid me-1"></i> Cotizacion
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <i class="bi bi-pencil-square me-1"></i> Crear Cotizacion Giras
    </li>
  </ol>
</nav>

<div class="container mt-5">
  <h2>Cotizacion Gira de Estudios</h2>

<form  id="form" method="post" action="/{{ empresa }}/manager/quotes/create">
    <div class="row">

        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-body form-groups-bordered">
                    <div class="row">
                        <div class="col-md-4">
                            <label class="control-label">Fecha Cotizacion</label><br>
                            <div class="col-md-7 no-padding">
                                <div class="input-group">
                                <!--    <input type="text" name="quote_date" id="quote_date" class="form-control" data-format="dd-mm-yyyy" value="{{ quote_date }}"> -->
                                    <input
                                        type="date"
                                        id="quote_date"
                                        name="quote_date"
                                        value="{{ quote_date }}" 
                                        max="{{ quote_date }}" 
                                        required
                                     />  
                                    <!---                                 
                                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 offset-md-2">
                            <div class="form-group">
                                <label class="control-label">Tipo Cambio</label>
                                <input type="text" class="form-control text-right" name="tipocambio" id="tipocambio" onkeypress="return valideKey(event)" maxlength="10" required/>
                            </div>
                        </div>
                    </div>                        
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="control-label">Vendedor</label>
                                    <select class="form-control box_select" name="sel_vendedor" id="sel_vendedor" required>
                                        <option value="">Seleccionar</option>
                                        {% for seller in sellers %}
                                        {% if seller.rol.description == 'Vendedor' or seller.rol.description == 'Captador' or seller.rol.description == 'Administrador' %}
                                        <option value="{{ seller.id }}">{{ seller.name }}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="control-label">Colegio</label>
                                    <select class="form-control box_select" name="sel_colegio" id="sel_colegio" required>
                                        <option value="">Seleccionar</option>
                                        {% for school in schools %}
                                            <option value="{{ school.id }}">{{ school.nombre }}</option>
                                        {% endfor %}
                                        </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Curso</label>
                                <input type="text" class="form-control text-right" name="curso" id="curso" onkeypress="return valideKey(event)" maxlength="5" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Ident</label>
                                <input type="text" class="form-control text-right" name="idcurso" id="idcurso" maxlength="5" onkeyup="javascript:this.value=this.value.toUpperCase();"/>
                            </div>
                        </div>                        
                        <div class="col-md-2 offset-md-2">
                            <div class="form-group">
                                <label class="control-label">Nro Pasajeros</label>
                                <input type="text" class="form-control text-right" name="nroalumno" id="nroalumno" maxlength="10" required/>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="control-label">Programa</label>
                                    <select class="form-control box_select" name="sel_programa" id="sel_programa" required>
                                        <option value="">Seleccionar</option>
                                        {%  for program in programs %}
                                        <option value="{{ program.id }}">{{ program.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Monto</label>
                                <input type="text" class="form-control text-right" name="vprograma" id="vprograma" readonly maxlength="10" />
                            </div>
                        </div>
                        <div class="col-md-2 offset-md-2">
                            <div class="form-group">
                                <label class="control-label">Descuento</label>
                                <input type="text" class="form-control text-right" name="vdescuento" id="vdescuento" onkeypress="return FunctioonlyNum(event)" maxlength="10" value="0" />
                            </div>
                        </div>
                        <div class="col-md-2 offset-md-2">
                            <div class="form-group">
                                <label class="control-label">Total</label>
                                <input type="text" class="form-control text-right" name="vtotalprog" id="vtotalprog" readonly maxlength="10" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Nombre Contacto</label>
                                <input type="text" class="form-control" name="contactonombre" id="contactonombre" maxlength="100" required/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Correo Contacto</label>
                                <input type="text" class="form-control" name="contactoemail" id="contactoemail" maxlength="100" required/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Fono Contacto</label>
                                <input type="text" class="form-control" name="contactofono" id="contactofono" maxlength="100" required/>
                            </div>
                        </div>            
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" style="width: 100%;">
                                <label class="control-label">Observacion</label><br>
                                <textarea name="obs" id="obs" cols="60" rows="5" style="width:100%"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <label class="control-label">Estado</label>
                                    <select class="form-control box_select" name="status" id="status" required>
                                        <option value="">Seleccionar</option>
                                        <option value="C">Cotizacion</option>
                                        <option value="A">Aceptada</option>
                                        <option value="R">Rechazado</option>

                                    </select>
                                </div>
                            </div>
                        </div>                            
                    </div>
                </div>    
                <div class="form-group d-flex justify-content-end">
                    <button type="submit" class="btn btn-success me-3"><i class="fa fa-save"></i> Guardar</button>
                    <a href="/{{ empresa }}/manager/quotes" type="button" class="btn btn-primary me-4"><i class="fa fa-angle-double-left"></i> Cancelar y Volver</a>
                    <input type="hidden" name="typesale" value="GE">
                </div>
           </div>     
        </div>
    </div>  
</form>            
{% endblock %}

{% block scripts %}
<script src="/static/js/quotes/createge.js"></script>
{% endblock %}