{% extends "base.html" %}

{% block title %}Listado de Pasajeros{% endblock %}

{% block content %}

<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="/{{ empresa }}/manager/index">
        <i class="bi bi-house-door-fill me-1"></i> Home
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <i class="bi bi-pencil-square me-1"></i> Pasajeros
    </li>
  </ol>
</nav>

<!-- Page Header -->
<div class="page-header">
  <h2>
    <i class="fas fa-user"></i>
    Listado de Pasajeros
  </h2>
  <p class="subtitle">Gestión y seguimiento de todos los pasajeros registrados</p>

  {% if cant_access["can_insert"] %}
  <div class="form-group text-right">
    <a href="/{{ empresa }}/manager/pasajeros/create" type="button" class="btn btn-success"><i
        class="fa fa-file-text"></i> Nuevo</a>
  </div>
  {% endif %}

  <div class="card shadow-sm mb-4">
    <div class="card-header bg-light fw-semibold">
      Filtros de búsqueda
    </div>

    <div class="card-body">
      <div class="row g-3">

        <div class="col-md-4 ">
          <label class="control-label">Ventas</label>
          <select class="form-control box_select" name="ventas" id="ventas">
            <option value="">Todas</option>
            {% for sale in sales %}
            {% set activo = "selected='selected'" if session['filter_sales'] == sale.id else '' %}
            {% set typesale = "Gira Estudio" if sale.type_sale == 'GE' else 'Viaje Grupal' %}
            <option value="{{ sale.id }}" {{ activo }}>{{ typesale }} - {{ sale.id }} </option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>

<div class="row">

  <!--    <div class="col-md-12"> -->
  <table class="table table-bordered table-hover nowrap" id="table-course">
    <thead>
      <tr>
        <th>Venta</th>
        <th>Tipo Venta</th>
        <th>Pasajero</th>
        <th>Nombre Pasajero</th>
        <th>Apoderado</th>
        <th>Nombre Apoderado</th>
        <th>Celular / Email</th>
        <th>Email</th>
        <th>Valores</th>
        <th>Descto</th>
        <th>A Pagar</th>
        <th>Contrato</th>
        <th>Ficha Medica</th>
        <th>Correo</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
  </table>
  <!--  </div> -->
</div>
{% endblock %}

{% block scripts %}
<script src="/static/js/pasajeros/index.js"></script>
{% endblock %}