{% extends "base.html" %}

{% block title %}Crear Usuarios{% endblock %}

{% block content %}

<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="/{{ empresa }}/manager/index">
        <i class="bi bi-house-door-fill me-1"></i> Home
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="/{{ empresa }}/manager/programs">
        <i class="bi bi-grid me-1"></i> Programas
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <i class="bi bi-pencil-square me-1"></i> Crear Programa
    </li>
  </ol>
</nav>

<div class="container mt-5">
  <h2>Crear Programas</h2>  
    <form role="form" id="form1" method="post" action="/{{ empresa }}/manager/programs/create">
        <div class="panel panel-primary">
            <div class="panel-body form-groups-bordered">

                <div class="row"> 
                    <div class="col-md-3">    
                        <div class="form-group">
                            <label class="control-label">Codigo</label>
                            <input type="text" class="form-control required" onkeyup="FunctionUp()" name="codigo" id="codigo" maxlength="12"  value=""/>
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-3">
                        <div class="form-group">
                            <label class="control-label">Descripcion</label>
                            <input type="text" class="form-control required" name="nombre" id="nombre" maxlength="100"  value=""/>
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Valor Reserva PP</label>
                            <input type="text" class="form-control required text-right" name="reserva" id="reserva" maxlength="12"  value=""/>
                        </div>
                    </div>
                </div>
             </div>
        </div>
      <hr>  
     <div class="panel panel-primary dynamic-element">  <!-- 0 -->
         <div class="panel-body form-groups-bordered">

               <div class="col-md-12 matriz-content d-none">  <!-- 0 -->
                   <div class="row">
                       <div class="col-lg-2 col-md-2">
                           <div class="form-group">
                              <label class="control-label">Desde</label>
                           </div>
                       </div>
                       <div class="col-lg-2 col-md-2">
                           <div class="form-group">
                                <label class="control-label">Hasta</label>
                           </div>
                       </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                     <label class="control-label">Liberados</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Valor</label>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3"></div>
                        </div>
                    </div>
                    <div class="col-md-12 matriz-content d-none">  <!-- 1 -->
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="desde[]"  class="form-control desde-monto text-right" onkeypress="return FunctioonlyNum(event)" name="unidad" id="unidad" maxlength="10" value=""/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="hasta[]" class="form-control hasta-monto text-right" onkeypress="return FunctioonlyNum(event)" id="unidad" maxlength="10" value=""/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="liberado[]" class="form-control porcentaje text-right" onkeypress="return FunctioonlyNum(event)" name="unidad" id="unidad" maxlength="10" value=""/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="monto[]" class="form-control porcentaje text-right" onkeypress="return valideKey(event)" name="unidad" id="unidad" maxlength="10" value=""/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <button type="button" class="btn btn-danger delete-dynamic"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-warning insert-dynamic"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
<!----   inicio 2   --->
            {% if not programad %}                   
            <div class="panel panel-primary dynamic-element">  <!-- 1 -->
                <div class="panel-body form-groups-bordered">

                    <div class="col-md-12 matriz-content"> 
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Desde</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                     <label class="control-label">Hasta</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                     <label class="control-label">Liberado</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Monto</label>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3"></div>
                        </div>
                    </div>
                    <div class="col-md-12 matriz-content">
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="desde[]"  class="form-control desde-monto text-right" onkeypress="return FunctioonlyNum(event)" name="unidad" id="unidad" maxlength="10" value=""/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="hasta[]" class="form-control hasta-monto text-right" onkeypress="return FunctioonlyNum(event)" name="unidad" id="unidad" maxlength="10" value=""/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="liberado[]" class="form-control hasta-monto text-right" onkeypress="return FunctioonlyNum(event)" name="unidad" id="unidad" maxlength="10" value=""/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="monto[]" class="form-control porcentaje text-right" onkeypress="return valideKey(event)" name="unidad" id="unidad" maxlength="10" value=""/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <button type="button" class="btn btn-danger delete-dynamic"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-warning insert-dynamic"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
<!----   display   --->
           {% else %} 
            <div class="panel panel-primary dynamic-element">
                <div class="panel-body form-groups-bordered">

                    <div class="col-md-12 matriz-content">
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Desde</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                     <label class="control-label">Hasta</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Liberado</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Monto</label>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3"></div>
                        </div>
                    </div>
                    {% for program in programad %}
                    <div class="col-md-12 matriz-content">
                        <div class="row">
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="desde[]"  class="form-control desde-monto text-right" onkeypress="return FunctioonlyNum(event)" name="unidad" id="unidad" maxlength="10" value="{{ program.desde }}"/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="hasta[]" class="form-control hasta-monto text-right" onkeypress="return FunctioonlyNum(event)" name="unidad" id="unidad" maxlength="10" value="{{ program.hasta }}"/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="liberado[]" class="form-control hasta-monto text-right" onkeypress="return FunctioonlyNum(event)" name="unidad" id="unidad" maxlength="10" value="{{ program.liberado }}"/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <div class="form-group">
                                    <input type="text" name="monto[]" class="form-control porcentaje text-right" onkeypress="return valideKey(event)" name="unidad" id="unidad" maxlength="10" value="{{ program.valor }}"/>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2">
                                <button type="button" class="btn btn-danger delete-dynamic"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                <button type="button" class="btn btn-warning insert-dynamic"><i class="fa fa-plus" aria-hidden="true"></i></button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
               </div>
            </div>
           {% endif %} 
<!----   fin   --->
        <hr>
        <div class="panel panel-primary">
            <div class="panel-body form-groups-bordered">

                <div>
                    <strong><h4>Solo si usa GDS Amadeus</h4></strong>
                    <br>
                    <div class="row">
                         <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Ciudad Origen</label>
                                <select class="form-control required box_select" name="origin" id="origin">
                                    <option value="">Seleccionar</option>                                        
                                            {% for country in countrys %}
                                            {% set activo = "selected='selected'" if country.code == "CL" else "" %}                                             
                                            <option value="{{ country.code }}" {{ activo }} >{{ country.country }}</option>
                                            {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Ciudad Destino</label>
                                <select class="form-control required box_select" name="destination" id="destination">
                                    <option value="">Seleccionar</option>
                                        {% for country in countrys %} 
                                            <option value="{{ country.code }}">{{ country.country }}</option>
                                        {% endfor%}
                                </select>
                            </div>
                        </div>                            
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label">Aeropuerto Origen</label>
                                <select class="form-control required box_select" name="origincode" id="origincode">
                                   <option value="">Seleccionar</option>
                                        {% for airport in airports %} 
                                        {% set activo = "selected='selected'" if airport.iata == "SCL" else "" %}                                             
                                        <option value="{{ airport.iata }}" {{ activo }}>{{ airport.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                             <div class="col-md-2">
                            </div>
                           <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Aeropuerto Destino</label>
                                    <select class="form-control required box_select" name="destinationcode" id="destinationcode">
                                        <option value="">Seleccionar</option>
                                            {% for airport in airports %} 
                                            <option value="{{ airport.iata }}">{{ airport.name }}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                            </div>                            
                        </div>                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">¿Activar Registro?</label>
                                <div class="col-md-12 no-padding">
                                    <span class="me-2">No</span>
                                    <label class="make-switch" data-on-label="SI" data-off-label="NO">
                                        <input type="checkbox" name="active" id="active" value="1" checked>
                                        <span class="slider"></span>
                                    </label>
                                    <span class="me-2">Si</span>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-success me-3"><i class="fa fa-save"></i> Guardar</button>
                <a href="/{{ empresa }}/manager/programs" type="button" class="btn btn-primary me-4"><i class="fa fa-angle-double-left"></i> Cancelar y Volver</a>
            </div>
    </form>
{% endblock %}

{% block scripts %}
<script src="/static/js/programs/create.js"></script>
{% endblock %}    