{% extends "base.html" %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}

<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="/{{ empresa }}/manager/index">
        <i class="bi bi-house-door-fill me-1"></i> Home
      </a>
    </li>
    <li class="breadcrumb-item active">
      <i class="bi bi-grid me-1"></i> Programas
    </li>
  </ol>
</nav>


<div class="container mt-5">
  <!-- Page Header -->
  <div class="page-header">
    <h2>
      <i class="fas fa-file"></i>
      Listado de Programas
    </h2>
    <p class="subtitle">Gestión y seguimiento de todos los programas registrados</p>

    <div class="form-group text-right">
      {% if cant_access["can_insert"] %}
      <a href="/{{ empresa }}/manager/programs/create" class="btn btn-success mb-3"><i class="fa fa-file-text"
          aria-hidden="true"></i> Nuevo</a>
      {% endif %}
    </div>
  </div>
  <table class="table table-bordered table-hover" id="programsTable">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Descripcion</th>
        <th>Estado</th>
        <th>Fecha Actualizacion</th>
        <th>Modificador</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for program in programs %}
      {% set class_status = "text-bg-success" if program.active == 1 else "text-bg-secondary" %}
      {% set text_status = "Activo" if program.active == 1 else "Inactivo" %}
      <tr>
        <td>{{ program.code }}</td>
        <td>{{ program.name }}</td>
        <td width="7%" align="center"><a style="cursor: pointer;" class="change-status" id="{{ program.id }}"><span
              class="badge {{ class_status }}">{{text_status}}</span></a></td>
        <td width="15%">{{ helper.formatear(program.UpdatedDate) }}</td>
        <td width="15%">{{ program.author }}</td>
        <td width="15%">
          {% if cant_access["can_update"] %}
          <a href="/{{ empresa }}/manager/programs/edit/{{ program.id }}" class="btn btn-sm btn-warning"
            data-bs-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></a>
          {% endif %}
          {% if cant_access["can_delete"] %}
          <a href="#" class="btn btn-sm btn-danger delete-register" title="eliminar" data-original-title="Eliminar"
            data-id="{{ program.id }}" data-bs-toggle="tooltip" title="Eliminar"><i class="fa fa-trash"></i></a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  {% endblock %}

  {% block scripts %}
  <script src="/static/js/programs/index.js"></script>
  {% endblock %}