{% extends "base.html" %}

{% block title %}Crear Usuarios{% endblock %}

{% block content %}

<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="/{{ empresa }}/manager/index">
        <i class="bi bi-house-door-fill me-1"></i> Home
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="/{{ empresa }}/manager/schools">
        <i class="bi bi-grid me-1"></i> Colegios
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <i class="bi bi-pencil-square me-1"></i> Edita Colegios
    </li>
  </ol>
</nav>
<div class="container mt-5">
  <h2>Editar Colegio</h2>
<form role="form" id="form" method="post" action="/{{ empresa }}/manager/schools/update" enctype="multipart/form-data" class="custom-validate form-groups-bordered">

    <div class="row">
        <div class="col-md-12">

            <ul class="nav nav-tabs left-aligned"><!-- available classes "bordered", "right-aligned" -->
                <li class="active"><a href="#tab1" data-toggle="tab">
                        <span><i class="fa fa-info" aria-hidden="true"></i></span>
                        <span>Detalle</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content tab-validate">

                <div class="tab-pane active" id="tab1">
                    <div class="panel panel-primary">
                        <div class="panel-body form-groups-bordered">

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Codigo</label>
                                        <input type="text" class="form-control" name="codigo" id="codigo" maxlength="12" readonly value="{{ school.codigo }}"/>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Colegio</label>
                                        <input type="text" class="form-control" name="colegio" id="colegio" maxlength="100" readonly value="{{ school.nombre }}"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Direccion</label>
                                        <input type="text" class="form-control" name="direccion" id="direccion" maxlength="100" value="{{ school.direccion }}"required/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Region</label>
                                        <select class="form-control box_select" name="region_id" id="region_id" required>
                                                <option value="">Seleccionar</option>
                                                    {% for region in regions %} 
														{% set activo = "selected='selected'" if region.id|string == school.region_id|string else "" %}                           
                                                        <option value=" {{region.id}} "  {{ activo }}> {{region.description}} </option>
                                                    {% endfor %}

                                            </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Comuna</label>
                                        <select class="form-control box_select" name="commune_id" id="commune_id" required>
                                                <option value="">Seleccionar</option>
                                                    {% for comuna in communes %}
                                                        {% set activo = "selected='selected'" if comuna.id|string == school.comuna_id|string else "" %}                                                         
                                                        <option value="comuna.id " {{ activo }}> {{comuna.description}} </option>
                                                    {% endfor %}
                                            </select>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="form-group d-flex justify-content-end">
                <button type="submit" class="btn btn-success me-3"><i class="fa fa-save"></i> Guardar</button>
                <a href="/{{ empresa }}/manager/schools" type="button" class="btn btn-primary me-4"><i class="fa fa-angle-double-left"></i> Cancelar y Volver</a>
                <input type="hidden" name="id"  value="{{ school.id }}"/>
            </div>

        </div>

    </div>

</form>
{% endblock %}

{% block scripts %}
<script src="/static/js/schools/edit.js"></script>
{% endblock %}