{% extends "base.html" %}

{% block title %}Lista de Usuarios{% endblock %}

{% block content %}

<nav class="breadcrumb-container" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item">
      <a href="/{{ empresa }}/manager/index">
        <i class="bi bi-house-door-fill me-1"></i> Home
      </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <i class="bi bi-pencil-square me-1"></i> Colegios
    </li>
  </ol>
</nav>

<div class="container mt-5">
  <h2>Lista de Colegios</h2>
  <hr>
    {% if msg %}
    <script>
        Swal.fire({
        title: "Usuarios",
        text: "{{ msg }}",
        icon: "success"
      });
    </script>
    {% endif %}

    {% if error %}
    <script>
        Swal.fire({
        title: "Usuarios",
        text: "{{ error }}",
        icon: "danger"
      });
    </script>
    {% endif %}
  <div class="form-group text-right">
        {% if cant_access["can_insert"] %}
        <a href="/{{ empresa }}/manager/schools/create" class="btn btn-success mb-3"><i class="fa fa-file-text" aria-hidden="true"></i> Nuevo</a>
        {% endif %}
  </div>

  <table class="table table-bordered table-hover" id="colegioTable">
        <thead class="table-light">
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Direccion</th>
            <th>Comuna</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for school in schools %} 
                <tr>
                    <td>{{ school.codigo }}</td>
                    <td>{{ school.nombre }}</td>
                    <td>{{ school.direccion }}</td>
                    <td>{{ school.comuna }}</td>
                    <td>
                        {% if cant_access["can_update"] %}
                        <a href="/{{ empresa }}/manager/schools/edit/{{ school.id }}" class="btn btn-sm btn-outline-warning" data-bs-toggle="tooltip" title="Editar"><i class="fa fa-edit"></i></a>
                        {% endif %}
                        {% if cant_access["can_delete"] %}
                        <a href="#" class="btn btn-sm btn-outline-danger delete-register" title="eliminar" data-original-title="Eliminar" data-id="{{ school.id }}" data-bs-toggle="tooltip" title="Eliminar"><i class="fa fa-trash"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
<script src="/static/js/schools/index.js"></script>
{% endblock %}